*{
    padding: 0;
    margin: 0;
}
/* Styling the body element
        like body color and margin */
         
        body {
            background: linear-gradient(135deg, orange 30%, cyan );
            margin: 10%;
        }
 
        /* Styling the Title and giving
        shadow to the title */
        #title {
            text-align: center;
            text-shadow: 5px 5px 10px rgb(8, 8, 8);
            font-size: 50px;
        }
 
        /* Setting width and display
        type of image */
        img {
            display: inline-block;
            width: 100%;
           
        }
 
        /* Setting font color and font
        size of the image-caption */
        #caption {
            font-size: 17px;
            font-family: Gill Sans;
            color: black;
            font-weight: bold;
        }
 
        /* Styling the content of the page like-
        padding, font-size, font color etc.*/
        div#tribute-data {
            /* background-color: rgb(46, 139, 87, 0.25); */
            box-shadow: 20px 20px 20px #fafafa;
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 50px;
        }
 
        /* Styling the title of the content */
        h1.title-vk {
            font-size: 30px;
            color: white;
            text-align: center;
            text-shadow: 5px 5px 10px black;
        }
        h2.title1-vk {
            font-size: 30px;
            color: white;
            text-align: center;
            text-shadow: 5px 5px 10px black;
        }
        #num{
            text-align: center;
        }
 
        
        